
  <h1>Welcome To Flyoteland Blog!</h1>
  <img src="http://www.worlddreambank.org/T/THAFLYO2A.JPG"/>
  <h3>Create A Post</h3>
  <form action="/create" method"POST">
  	<label>Title<br><input type="text" name="title"/></label>
  	<br>
  	<br>
  	<textarea type="text" name="body"rows="6" cols="40"></textarea>
  	<br>
  	<br>
  	<input type="submit" value="Submit Post"/>
  </form>




